.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  border-top: 1px solid var(--color-border-2);
  background: rgba(236, 242, 255, 1);
  box-shadow: 0 -4px 12px rgba(15, 36, 66, 0.06);
}
